@import "vars";

/*
==================================================================
=================               common           =================
==================================================================
*/

main{
    position: relative;
    width: 1040px;
    padding: 60px 20px;
    margin: auto;
}

.con-box{
    width: 600px;
    margin-bottom: 94px;

    &__title{
        margin-bottom: 20px;
        color: #3c3b40;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;  
    }
}

.btn{
    display: block;
    height: 60px;
    line-height: 54px;
    margin: 0 12px 12px 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
    background: #fff;
    transition: border 0.2s;
    float: left;

    &__text{
        color: $font-color;
        font-weight: 500;
        transition: color 0.2s;
    }

    &.no-margin-right{
        margin-right: 0;
    } 
}

input[type="radio"]{
    display: none;

    &:checked +.btn{
        border: 2px solid $focus-color;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);

        .btn{

            &__text{
                color: $focus-color;
            }
            
            &__level{
                color: $focus-color;
            }
        }
    }
}


.pannel{
    @include grey-background;

    &__contents{
        position: relative;
    }

    &__box{
        width: 560px;
        // position: absolute;
        // display: none;
        padding-top: 12px;
        left: 20px;

        &::after{
            @include clearfix;
        }  
    }
    
    .btn{
        height: 70px;
        text-align: center;

        &__text{
            display: block;
            font-size: 14px;
        }
    }
}


/*
==================================================================
=================               학습과정           =================
==================================================================
*/


.lectures{

display: none;




    .btn{
        width: 140px;
    }

    &__category::after{
        @include clearfix;
    }  

    .pannel{
        
        .btn{
            width: 178px;
            padding: 16px 20px;
            line-height: 1.2;
            text-align: left;
    
            &__level{
                color: $font-color;
                font-size: 12px;
                font-weight: 300;
            }
        }
    

        //기본과정 버튼
        .btn-basic{
            width: 100%;
    
            .btn__text{
                width: 92px;
                float: left;
            }
    
            &__text{
                position: relative;
                float: left;
                font-size: 14px;
                color: $font-color;
    
                &:before{
                    width: 1px;
                    height: 30px;
                    content: '';
                    display: block;
                    position: absolute;
                    left: -24px;
                    background-color: #ccc;
                }
    
                span{
                    color: $focus-color;
                }
            }

            .btn__level{
                font-size: 0;
            }
        }
    }
}




/*
==================================================================
=================               수강기간           =================
==================================================================
*/

.term{

    .btn{
        width: 174px;
        height: 60px;

        &-large{
            width: 226px;
        }
    }

    &__category::after{
        @include clearfix;
    }  

    .best{
        display: inline-block;
        width: 39px;
        height: 15px;
        margin: 20px 4px 0 -28px;
        padding-top: 3px;
        vertical-align: top;
        color: #fff;
        font-size: 11px;
        text-align: center;
        line-height: 8px;
        border-radius: 4px;
        background-color: $red-color;
    }

    .pannel{

        .btn{
            width: 130px;
            padding: 10px 20px;
            line-height: 1.1;
            
            &__text{
                display: block;
                font-size: 16px;
                font-weight: 500;
            }
    
            &__discount{
                font-size: 14px;
                font-weight: 400;   
                color: $focus-color;
            }

            &-long{
                height: 110px;
                padding: 10px 14px;

                .best{
                    margin-left: 10px;
        
                    &+.btn__text{
                        width: 40px;
                        display: inline-block;
                    }
                }
            }

            &__price{
                position: relative;
                color: $font-color;
                font-size: 14px;
                padding: 28px 0;

                &::before{
                    content: '';
                    display: block;
                    width: 129px;
                    height: 1px;
                    background-color: $btn-border;
                    position: absolute;
                    top: 14px;
                    left: -15px;
                }
            }

            .price{
                font-weight: 700;
                font-size: 18px;
                margin-left: 1.2%;
            }
        }

        input[type="radio"]:checked + .btn .btn__price:before{
            background-color: $focus-color;
        }

        .best{
            margin-top: 2px;

            &+.btn__text{
                width: 41px;
                display: inline-block;
            }
        }
    }
}

/*
==================================================================
=================           수업횟수 / 타임존        =================
==================================================================
*/

.time-zone{
    @include grey-background;

    &__container{
        width: 566px;
        margin: auto;

        &::after{
            @include clearfix;
        }
    }

    &__table{
        width: 188px;
        margin-top: 24px;
        float: left;
    }

    &__text{
        margin-bottom: 16px;
        text-align: center;
    }

    &__title{
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: #3c3b40;
        letter-spacing: 0;
    }

    &__hour{
        display: block;
        font-size: 12px;
        font-weight: 300;
        color: #a1a7af;
        letter-spacing: 0.05em;

    }

    &__unlimited{
        width: 566px;
         margin: 24px auto;
    }

    .btn{
        float: none;
        margin: 0 12px;
        padding: 6px 0;
        line-height: 1.3;

        &__text{
            font-weight: 300;
            font-size: 12px;
            color: #696d73;
        }

        &__price{
            font-size: 14px;
            font-weight: 300;
            color: #696d73;

        }

        &-top{
            border-radius: 6px 6px 0 0;
        }

        &-middle{
            border-top: none;
            border-bottom: none;
            border-radius: 0;
        }

        &-bottom{
            border-radius: 0 0 6px 6px;
        }

        .price{
            font-size: 18px;
            margin-left:3px;
        }
    }

    input[type="radio"]{

        &:checked + .btn {
            border-radius: 6px;
        }

        &:checked + .btn .btn__price{
            color: $focus-color;
        }
    }
    
    
    
}


/*
==================================================================
=================               추가할인           =================
==================================================================
*/
.coupon{
    display: block;
    position: relative;

    &__input{
        width: 460px;
        height: 58px;
        padding: 0 20px;
        border: 1px solid #e4e4e4;
        border-radius: 6px 0 0 6px;
    }

    &__submit{
        display: block;
        width: 140px;
        height: 60px;
        position: absolute;
        top: -1px;
        right: 0;
        color: #fff;
        font-size: 16px;
        line-height: 59px;
        text-align: center;
        background-color: #3e8bf7;
        border-radius: 0 6px 6px 0;
        box-shadow: inset 0px -2px 0px rgba(0,0,0,0.2);
        z-index: 10;
    }   
}

/*
==================================================================
=================               결제수단           =================
==================================================================
*/

.payment{
    padding-top: 12px;
    @include grey-background;

    &__wrap{
        width: 558px;
        margin: auto;

        &::after{
            @include clearfix;
        }
    }

    .btn{
        width: 130px;
        
        &__text{
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.4;
        }

        .n-pay{
            margin-top: 19px;
        }
    }

    
}    




/*
==================================================================
=================               결제정보           =================
==================================================================
*/

.invoice{
    width: 320px;
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 10;
    overflow: hidden;

    &__header{
        height: 70px;
        // background: url(../../images/lectures/img_card_06.png);
        // padding: 17px 20px 13px;
        color: #fff;
    }

    &__title{
        font-size: 20px;
        position: relative;
        top: -58px;
        left: 20px;
    }

    &__level{
        font-size: 14px;
        line-height: 0.8;
        position: relative;
        top: -57px;
        left: 21px;
    }

    &__contents{
        padding-bottom: 19px;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 6px 6px;
        background-color: #fff;
    }

    &__term{
        padding: 0 20px;
        font-size: 14px;
        color: $font-color;
        background-color: #fafafa;
    }
 
    &__wrap{
        padding: 13px 0 16px;

        .contents{
            &__left{
                float: left;
            }
            &__right{
                float: right;
                margin-left: 14px;
            }
        }

        &.border-bottom{
            border-bottom: 1px solid #eaeaea;
        }

        &::after{
            @include clearfix;
        }
    }

    &__price{
        padding: 0 20px;
        font-size: 14px;
        color: $font-color;
    }

    .discount{

        &-amount{
            color: $red-color;
        }

        &-product{
            padding: 13px 0 6px;
            color: #a1a7af;
            font-size: 12px;
        }
    }

    &__notice{
        padding: 1px 0;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        background-color: #22bb44;
        border-radius: 4px;

        &--link{
            color: #fff;
        }

    }
    
    &__payment{
        padding: 8px 0 0;

        &--result{
            color: $focus-color;
        }
    }
    
    &__result{
        padding: 0;
        font-size: 20px;
        font-weight: 700;
    }

    &__submit{
        display: block;
        width: auto;
        height: 58px;
        margin-top: 12px;
        line-height: 59px;
        background: $red-color;
        border-bottom: 2px solid #d92e3c;
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
}